<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Device Status Checker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <!-- VPN Configuration  -->
    <div class="module-section">
      <h3>🌐 VPN Configuration </h3>
      <div class="module-grid">
        <div class="module-label">Portal</div>
        <div class="module-value">ctec-vpn-test.charterlab.com</div>
        <div class="module-label">Username</div>
        <div class="module-value">P3318271</div>
        <div class="module-label">Password</div>
        <div class="module-value">NR@msam_2025</div>
      </div>
    </div>

    <!-- AWS External Join & FOUTA Server URLs -->
    <div class="module-section">
      <h3>🖥️ AWS External Join & FOUTA Server URLs</h3>
      <div class="module-grid">
        <div class="module-label">Join Server API</div>
        <div class="module-value">https://joinserver.embedtechnologies.com/joinreq</div>
        <div class="module-label">FUOTA Server API</div>
        <div class="module-value">https://joinserver.embedtechnologies.com/v1/mcrootkey</div>
      </div>
    </div>

    <!-- Charter External Join & FUOTA Server URLs -->
    <div class="module-section">
      <h3>🖥️ Charter External Join & FUOTA Server URLs</h3>
      <div class="module-grid">
        <div class="module-label">Join Server API</div>
        <div class="module-value">https://joinserver.caas.charterlab.com:443</div>
        <div class="module-label">FUOTA Server API</div>
        <div class="module-value">https://joinserver.caas.charterlab.com/v1/mcrootkey</div>
      </div>
    </div>

    <!-- Module ID -->
    <div class="module-section">
      <h3>📡 Module ID</h3>
      <div class="module-grid">
        <div class="module-label">MB/BLE [0x43 || 67]</div>
        <div class="module-value">E9050210</div>
        <div class="module-label">XPR [0x45 || 69]</div>
        <div class="module-value">F3050404</div>
        <div class="module-label">FMX [0x46 || 70]</div>
        <div class="module-value">EE050409</div>
      </div>
    </div>

    <!-- Status Mappings -->
    <div class="mappings-container">
      <h3>📜 Status Options</h3>
      <div class="table-grid">
        <!-- XPR Table -->
        <div class="mapping-section">
          <h4>XPR Upgrade Status</h4>
          <table class="status-table" id="xprTable">
            <thead>
              <tr>
                <th>Code</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody id="xprOptions"></tbody>
          </table>
        </div>

        <!-- Amplifier Table -->
        <div class="mapping-section">
          <h4>Amplifier Upgrade Status</h4>
          <table class="status-table" id="hexTable">
            <thead>
              <tr>
                <th>Code</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody id="hexOptions"></tbody>
          </table>
        </div>
      </div>
    </div>

    <h2>🔍 Device Status Checker</h2>

    <label for="deviceType">Select Device Type</label>
    <select id="deviceType">
      <option value="128">128 - Transponder</option>
      <option value="129">129 - Amplifier</option>
    </select>

    <label for="rxInput">Enter RX Input</label>
    <input type="text" id="rxInput" placeholder="Paste RX string here...">

    <div class="button-group">
      <button onclick="getDetails()">Get Details</button>
      <button class="reset" onclick="resetDetails()">Reset</button>
    </div>

    <div class="output" id="output">
      <p><em>Result will appear here...</em></p>
    </div>

    <!-- Split Data -->
    <div class="split-container">
      <h3>🧩 Split Data</h3>
      <textarea id="splitInput" rows="4" placeholder="Paste data to split here..."></textarea>

      <div class="button-group">
        <button onclick="splitData()">Split Data</button>
        <button class="reset" onclick="resetSplit()">Reset</button>
      </div>

      <div id="splitOutput" class="split-output">
        <p><em>Split results will appear here...</em></p>
      </div>
    </div>

    <!-- Loopback -->
    <div class="split-container">
      <h3>🧩 Loopback</h3>

      <div class="formula">
        <p><em>(No. of Device Count × 2 × No. of Times) + ((No. of Device Count × Count) × No. of Times)</em></p>
      </div>

      <div class="loopback-inputs">
        <label>Device Count</label>
        <input type="number" id="deviceCount" min="0" oninput="validateInteger(this)" placeholder="Enter Device Count">

        <label>Count</label>
        <input type="number" id="count" min="0" oninput="validateInteger(this)" placeholder="Enter Count">

        <label>No. of Times</label>
        <input type="number" id="times" min="0" oninput="validateInteger(this)" placeholder="Enter No. of Times">

        <div class="button-group">
          <button onclick="calculateLoopback()">Calculate</button>
          <button class="reset" onclick="resetLoopback()">Reset</button>
        </div>

        <div id="loopbackResult" class="output">
          <p><em>Result will appear here...</em></p>
        </div>
      </div>
    </div>

    <!-- APK Build -->  
    <div class="module-section">
      <div>
        <h3>📡 CMS UI</h3>
        <div class="list_cmd">
          <ul>
            <li>
              <strong>store.js</strong>
              <ul>
                <li>Uncomment <code>baseIp</code> and <code>axios</code> (e.g., line no: 10 & 11).</li>
                <li>Comment the remaining <code>baseIp</code> configurations in the store.</li>
              </ul>
            </li>

            <li>
              <strong>package.json</strong>
              <ul>
                <li>Update the <strong>version number</strong>.</li>
              </ul>
            </li>

            <li>
              <strong>Build Process (Terminal)</strong>
              <ul>
                <li>Press <code>Ctrl + C</code> → When prompted <em>"Terminate batch job (y/n)"</em>, press <strong>Y</strong>.</li>
                <li>Run the command:
                  <code>npm run build</code>
                </li>
                <li>The updated build will be generated automatically in the <code>dist</code> folder.</li>
                <li>Navigate to <code>dist → index.html</code>.</li>
                <li>The file will appear as a single line of code.</li>
                <li>Go to <strong>Code</strong> (menu bar) → <strong>Reformat Code</strong> or press
                  <code>Ctrl + Alt + L</code>.
                </li>
              </ul>
            </li>

            <li>
              <strong>Static Folder Update</strong>
              <ul>
                <li>Go to the corresponding <code>dist</code> folder.</li>
                <li>Copy the following files/folders:
                  <code>css</code>, <code>fonts</code>, <code>img</code>, <code>js</code>, 
                  <code>favicon</code>, <code>index.html</code>
                </li>
                <li>Remove existing files from the <code>static</code> folder.</li>
                <li>Paste the copied <code>dist</code> files into the <code>static</code> folder.</li>
                <li>Example path:
                  <code>D:\Workstation\CMS Build Files\Opti-Trace Server Ver 23.03.03a\static</code>
                </li>
                <li>If any <strong>xml binding files</strong> are changed, copy them to the static folder as well.</li>
                <li>If there are no XML changes, copying XML files is not required.</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div>
        <h3>📡 CMS API</h3>
        <div class="list_cmd">
          <ul>
            <li>
              <strong>Version Update</strong>
              <ul>
                <li>Change the <strong>version number</strong> in <code>OptiSrvST.py</code>.</li>
              </ul>
            </li>

            <li>
              <strong>Build Executable</strong>
              <ul>
                <li>Open Command Prompt and navigate to:
                  <code>D:\Latest_GIT\Amplifier_API</code>
                </li>
                <li>Run the following command:
                  <code>pyinstaller --icon=favicon.ico --noconsole --onefile OptiSrvST.py</code>
                </li>
                <li>This will create the <code>OptiSrvST</code> file inside the <code>dist</code> folder.</li>
              </ul>
            </li>

            <li>
              <strong>Deploy Build</strong>
              <ul>
                <li>Copy the generated <code>OptiSrvST</code> file from the <code>dist</code> folder.</li>
                <li>Paste it into the corresponding server folder.</li>
                <li>Example path:
                  <code>D:\Workstation\CMS Build Files\Opti-Trace Server Ver 23.03.03a</code>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>


      <div>
        <h3>📡 Android</h3>
        <div class="list_cmd">
          <ul>
            <li>ionic cap copy android (or) ionic capacitor sync android</li>
            <li>ionic cap open android</li>
          </ul>
        </div>
      </div>
      <div>
        <h3>📡 iOS</h3>
        <div class="list_cmd">
          <ul>
            <li>sudo  ionic capacitor copy ios</li>
            <li>sudo  ionic capacitor open ios</li>
          </ul>
        </div>

        <h3>📡 Test flight setup</h3>
        <div class="module-grid">
          <div class="module-label">Step 1</div>
          <div class="module-value">Goto the product-> archive</div>
          <div class="module-label">Step 2</div>
          <div class="module-value">Distribue app</div>
          <div class="module-label">Step 3</div>
          <div class="module-value">Testfilght internal only</div>
          <div class="module-label">Step 4</div>
          <div class="module-value">distribute</div>
          <div class="module-label">Step 5</div>
          <div class="module-value">done</div>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
